<h1>TiemDev's Blog</h1>

<p>
    Il y a quelques minutes vous avez créez un compte sur le site TiemDev's Blog.<br>
    Merci de confirmer votre adresse mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmez mon adresse mail</a>.<br>
    Le lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}, nous vous invitons donc à procéder à la confirmation dans les plus brefs délais.
</p>

<p>
    Bien à vous, TiemDev's Blog,
</p>
