/*--------------------------------------
APPLICATION CSS SUR LA PAGE BASE DU BLOG
--------------------------------------*/
h1 {
    color: #2C3E50;
    text-align: center;
    margin: 2% auto;
}

img {
    max-width: 550px;
    max-height: 350px;
    margin-top: 2%;
}

.category {
    font-size: 24px;
}

.validate-btn {
    color: white;
    background-color: #149A80;
}

.text-validation {
    margin-top: 10%;
    text-align: center;
}

.link-validation {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}