/*--------------------------------------
APPLICATION CSS SUR LA PAGE HOME DU BLOG
----------------------------------------*/
h1, h2, p {
    text-align: center;
}

h2 {
    padding: 5%;
}

.categories_list {
    text-align: center;
    margin: 0 auto;
    width: 25%;
}

.categories_list li {
    list-style: none;
    padding: 5%;
}