/*---------------------------------------
APPLICATION CSS SUR LES ARTICLES AFFICHÉS
-----------------------------------------*/
.link {
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 1%;
    height: 95px;
}

.edits a {
    padding: 25px;
}

article {
    text-align: center;
    margin-top: 5%;
}


.content {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*===========
PARTIE FOOTER
============*/

footer {
    height: 80px;
    width: 100%;
    background-color: #2C3E50;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}