{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans ce blog</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos similique, corporis provident neque eum iusto suscipit, et exercitationem nam vitae est eaque repellendus perspiciatis. Consectetur ducimus hic, perferendis cupiditate eum nesciunt ad, voluptatem quo libero totam iste atque aperiam sequi!</p>
    <p>Architecto, animi natus atque, qui ut commodi consequuntur consectetur quasi, excepturi fugiat dolorem. Velit amet nemo maxime numquam sed unde soluta est facere qui dicta impedit totam itaque quo aspernatur illo optio tenetur repellendus, blanditiis ut in! Assumenda, asperiores nesciunt?</p>
{% endblock %}