{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('assets/css/home_twig.css') }} ">
{% endblock %}

{% block body %}
    <h1>Bienvenue chez Tiemoko's Blog</h1>

    <p>Dans ce blog, développé par Tiemoko Diallo, vous aurez la possibilité de visionner différents types d'articles référencés par catégorie.</p>
    <p>Vous aurez également la possibilité de créez vous-mêmes vos articles afin de pouvoir les publier sur le blog.</p>
    <p>Je vous invites à vous référer à la liste suivante qui comprend les différentes catégories présentes sur le site.</p> 
    <p>En cliquant sur celle vous intéressant, vous vous rendrez sur une page qui vous affichera les articles étant en lien avec la catégorie sélectionnée.</p>

    <h2>Liste des catégories d'articles</h2>
    <ul class="categories_list">
       <a href="{{ path('blog_animals') }}"><li>Animaux</li></a>
       <a href="{{ path('blog_kid') }}"><li>Enfant</li></a>
       <a href="{{ path('blog_decoration') }}"><li>Décoration</li></a>
    </ul>
{% endblock %}