{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('assets/css/home_twig.css') }} ">
{% endblock %}

{% block body %}
    <h1>Bienvenue chez TiemDev's Blog</h1><br>

    <p>Dans ce blog, développé par TiemDev, vous aurez la possibilité de visionner différents types d'articles référencés par catégorie.</p>
    <p>Vous aurez également la possibilité de créez vous-même vos articles afin de pouvoir les publier sur le blog en créant, au préalable, votre compte d'utilisateur via le formulaire prévu à cet effet.</p>
    <p>Je vous invites à cliquer sur le lien présent plus bas afin d'être rediriger vers la page qui comprend les différents articles présents sur le site.</p><br> 
    <p>En vous souhaitant une agréable visite sur le site de TiemDev's Blog.</p>
    <p><a href="{{ path('blog') }}">Page des articles</a></p>
{% endblock %}