{% extends 'base.html.twig' %}

{% block title %}Salut BlogController!{% endblock %}

{% block body %}
    <section class="articles">
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 17/04/2021 à 19:00 dans la catégorie Politique</div>
            <div class="content">
                <img src="https://place-hold.it/350x150" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, optio. Voluptatum et id ad commodi.</p>
                <p>Cumque dicta nihil, similique illum fuga blanditiis libero repellat, corrupti cupiditate consectetur, rem molestias dolorem.</p>
                <a href="" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 17/04/2021 à 19:00 dans la catégorie Politique</div>
            <div class="content">
                <img src="https://place-hold.it/350x150" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eligendi aperiam delectus non, officia in.</p>
                <p>Consequatur incidunt autem doloremque tempore soluta error recusandae dolorem temporibus voluptates enim. Ipsam, soluta consectetur!</p>
                <a href="https://place-hold.it/350x150" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 17/04/2021 à 19:00 dans la catégorie Politique</div>
            <div class="content">
                <img src="https://place-hold.it/350x150" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis cumque pariatur fugiat doloremque sint nihil.</p>
                <p>Eligendi accusamus, consequatur culpa amet blanditiis earum nemo, delectus sint, placeat nihil maiores sed eius!</p>
                <a href="" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
    </section>
{% endblock %}
